<div id="thietbi">
    <h1>PLEASE CHOOSE HAND CONTROL</h1><br>
    
    <input type="radio" name="device" value="Device01" id="Device01">HD1<br><br>
    <input type="radio" name="device" value="Device02" id="Device02">HD2<br><br>
    <input type="button" id="chon" value="Confirm"><br>
        
</div>	
<div id="chontau" style="margin: 0 auto; display: inline-block;text-align: center">
    <h1>CHOOSE YOUR SIDE</h1>
    <div id="" style="margin: 0 auto; display: inline-block;text-align: center">
        <h3 style="color: #6EFFF6">OUR MAP</h3>
        <table border="1" style="border-collapse: collapse;">
            <tr>
                    <td id="A04" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A14" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A24" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A34" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A44" style="width: 50px; height: 50px;">&nbsp;</td>
            </tr>
            <tr>
                    <td id="A03" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A13" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A23" style="width: 50px; height: 50px;">&nbsp;</td>  
                    <td id="A33" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A43" style="width: 50px; height: 50px;">&nbsp;</td>
            </tr>
                    <tr>
                    <td id="A02" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A12" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A22" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A32" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A42" style="width: 50px; height: 50px;">&nbsp;</td>
            </tr>
            <tr>
                    <td id="A01" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A11" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A21" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A31" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A41" style="width: 50px; height: 50px;">&nbsp;</td>
            </tr>
            <tr>
                    <td id="A00" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A10" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A20" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A30" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="A40" style="width: 50px; height: 50px;">&nbsp;</td>
            </tr>
        </table>
        <br>
        <div id="MyStatus">Choosing...</div>
    </div>
    <div id="PheDich" style="margin: 0 auto; display: inline-block;text-align: center">
        <h3 style="color: #CB1C1C">ENEMY'S MAP</h3>
        <table border="1" style="border-collapse: collapse;">
            <tr>
                    <td id="B04" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B14" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B24" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B34" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B44" style="width: 50px; height: 50px;">&nbsp;</td>
            </tr>
            <tr>
                    <td id="B03" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B13" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B23" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B33" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B43" style="width: 50px; height: 50px;">&nbsp;</td>
            </tr>
            <tr>
                    <td id="B02" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B12" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B22" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B32" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B42" style="width: 50px; height: 50px;">&nbsp;</td>
            </tr>
            <tr>
                    <td id="B01" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B11" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B21" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B31" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B41" style="width: 50px; height: 50px;">&nbsp;</td>
            </tr>
            <tr>
                    <td id="B00" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B10" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B20" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B30" style="width: 50px; height: 50px;">&nbsp;</td>
                    <td id="B40" style="width: 50px; height: 50px;">&nbsp;</td>
            </tr>
        </table>
        <br>
        <div id="YourStatus">Choosing...</div>
    </div>
    <div id="Yourturn" style="margin: 0 auto; display: inline-block;text-align: center"></div>
</div>